.App {
  text-align: center;
}

*{
  box-sizing: border-box;
}
/*body, html {
  height: 100vh;
  width: 100%;
  /*margin: ;*/
  /*padding: 0;
}*/

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
  margin-top: -30px;
}
.App-header h1 {
  padding-top:20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#map{height:100vh}
